*{
  margin: 0;
  padding: 0;
}

.contenido{
  width: 100%;
  height: 100vh;
  background-color: #81dfff;
  /* opacity: 0.8; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0px;
}

.texto, .imagen{
  width: 500px;
}

.texto{
  margin-top: 130px;
}

.texto h1{
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* letter-spacing: 200px; */
  /* word-spacing: 0pt; */
}

.texto h2{
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  /* letter-spacing: 3pt; */
  /* word-spacing: 10pt; */
  margin-top: -20px;
}

.texto p{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
}

.texto p strong{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.texto button{
  background-color: black;
}

.texto button a{
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}

.texto svg{
  color: white;
}

.atribucion{
  font-size: 12px;
}

.texto a:hover {
  color: white; 
  text-decoration:none;

}

.icono svg{
  color: black;
  margin-left: 15px;
}

.icono svg a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 480px){

  .contenido{
    height: 745px;
  }

  .texto{
    width: 100%;
    /* margin-top: 0px; */
    /* border: 1px solid black; */
  }

  .texto h1{
    font-size: 1rem;
    letter-spacing: 4px;
    margin-bottom: 17px;
  }
  .texto h2{
    font-size: 2rem;
    letter-spacing: -1px;
    word-spacing: 1px;
    /* margin-top: -15px; */
  }

  .imagen{
    width: 70%;
    margin: auto;
  }

}

@media screen and (min-width: 481px) and (max-width: 1025px){


  .imagen{
    width: 100%;
  }

}




svg #php{
  animation-duration: 1s;
  animation-name: animate1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

svg #css{
  animation-duration: 1.2s;
  animation-name: animate2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

svg #js{
  animation-duration: 0.8s;
  animation-name: animate3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

svg #node{
  animation-duration: 1.2s;
  animation-name: animate3;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

svg #psd{
  animation-duration: 0.8s;
  animation-name: animate2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
svg #html{
  animation-duration: 1s;
  animation-name: animate3;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

svg:hover #code1{
  animation-duration: 1s;
  animation-name: animateCode1;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

svg:hover #code2{
  animation-duration: 1s;
  animation-name: animateCode2;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

/* svg:hover #web{
  animation-duration: 1s;
  animation-name: web;
  animation-iteration-count: infinite;
  animation-direction:alternate;
} */

.animar:hover #web{
  animation-duration: 1s;
  animation-name: web;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

@keyframes web{
  from{
    transform: translateX(5) translateY(-10);
    opacity: 0;
  }
  to{
    transform: translateX(1px) translateY(-20px);
    opacity: 1;
  }
}

@keyframes animateCode1{
  from{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to{
    transform: translateX(35px) translateY(10px);
    opacity: 1;
  }
}

@keyframes animateCode2{
  from{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to{
    transform: translateX(-35px) translateY(-30px);
    opacity: 1;
  }
}


@keyframes animate1{
  from{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to{
    transform: translateX(1px) translateY(-35px);
    opacity: 1;
  }
}

@keyframes animate2{
  from{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to{
    transform: translateX(2px) translateY(-20px);
    opacity: 1;
  }
}

@keyframes animate3{
  from{
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  to{
    transform: translateX(3px) translateY(-40px);
    opacity: 1;
  }
}



